<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793803029940-rajpubf03rmr4fi0vrcmjkcs4t2ejch1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793803029940-rajpubf03rmr4fi0vrcmjkcs4t2ejch1</string>
	<key>API_KEY</key>
	<string>AIzaSyB-HCBu8Jc43pSTwuR2CQ6QJW0pTuwnSxw</string>
	<key>GCM_SENDER_ID</key>
	<string>793803029940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.fummicc1.sample.SignInWithAppleUsingFirebase</string>
	<key>PROJECT_ID</key>
	<string>swiftcodelab-1e6b9</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftcodelab-1e6b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793803029940:ios:517f7362063d10c83686e1</string>
	<key>DATABASE_URL</key>
	<string>https://swiftcodelab-1e6b9.firebaseio.com</string>
</dict>
</plist>